* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: green;
  font-family: "Raleway", sans-serif;
}

a {
  color: coral;
  text-decoration: none;
}

a:hover {
  color: coral;
  text-decoration: underline;
}

.container {
  background-color: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

main .container h1,
main .container p,
main .container form button {
  margin-bottom: 20px;
}

main .container .form-group {
  margin: 20px 0;
}

main .container .form-group label {
  display: block;
  font-size: 10px;
  text-align: left;
  margin-bottom: 5px;
}

main .container .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
}

main .container form button {
  width: 80%;
  background-color: coral;
  border: none;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

main .container form button:hover {
  background-color: chocolate;
}

main .container .bottom-text {
  font-size: 12px;
}

main .container .bottom-text a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  color: white;
  margin: -30px 0 50px 0;
}
