body {
    background-color: green;
}

h1 {
    color: blue;
}

/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-color: blue;
    }
    h1 {
        color: green;
    }
    h1::after {
        content: "Mobile size";
}

@media (min-width: 768px) {
    body {
        background-color: yellow;
    }
    h1 {
        color: purple;
    }
    h1::after {
        content: "tablet size";
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    body {
        background-color: red;
    }
    h1 {
        color: yellow;
    }
    h1::after {
        content: "large screen 922px and up";
}

/*Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    body {
        background-color: brown;
    }
    h1 {
        color: white;
    }
    
    h1::after {
        content: "Extra large screen 1200px and up";
    }
}
