body {
    background: linear-gradient(-45deg, pink, rgb(113, 158, 113), rgb(237, 237, 162), rgba(255, 166, 0, 0.628));
    background-size: 500% 500%;
    animation: gradient 20s ease infinite;
    font-family: "Noto Serif", serif;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

h1, h2 {
    padding: 1rem;
}

section {
    position: relative;
    text-align: center;
    align-items: center;
  }

section .circle {
    background: rgb(136, 136, 202);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 2s;
    margin: auto;
}

section .circle:hover {
    background: yellowgreen;
    height: 200px;
    width: 200px;
}
